In [12]:
import pandas  #python package....data analysis..
import  numpy
import seaborn

#filtering........pandas......

#visualization....




#loading the dataset into juypter  notebook
#cleaning the data
#visualizing the data
#processing the data
#tranforming the data

In [13]:
print(dir('pandas'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
print(dir('numpy'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
print(dir('seaborn'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [9]:
fortune=pandas.read_csv('f500.csv')

In [10]:
fortune

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [11]:
rev = fortune['revenues']

In [21]:
#mean calculation
rev.mean()

55416.358

In [22]:
rev.max()

485873

In [23]:
rev.min()

21609

In [24]:
rev.mode()

0    23044
1    29003
2    30390
dtype: int64

In [25]:
rev.describe()

count       500.000000
mean      55416.358000
std       45725.478963
min       21609.000000
25%       29003.000000
50%       40236.000000
75%       63926.750000
max      485873.000000
Name: revenues, dtype: float64

In [27]:
fortune

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [29]:
sec = fortune['sector']

In [30]:
sec.unique()

array(['Retailing', 'Energy', 'Motor Vehicles & Parts', 'Financials',
       'Technology', 'Wholesalers', 'Health Care', 'Telecommunications',
       'Engineering & Construction', 'Industrials', 'Food & Drug Stores',
       'Aerospace & Defense', 'Food, Beverages & Tobacco',
       'Household Products', 'Transportation', 'Materials', 'Chemicals',
       'Media', 'Apparel', 'Hotels, Restaurants & Leisure',
       'Business Services'], dtype=object)

In [31]:
len(sec.unique())

21

In [32]:
ind = fortune['industry']

In [34]:
ind.unique()

array(['General Merchandisers', 'Utilities', 'Petroleum Refining',
       'Motor Vehicles and Parts',
       'Insurance: Property and Casualty (Stock)',
       'Computers, Office Equipment', 'Wholesalers: Health Care',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Electronics, Electrical Equip.', 'Mining, Crude-Oil Production',
       'Telecommunications', 'Diversified Financials',
       'Banks: Commercial and Savings', 'Engineering, Construction',
       'Insurance: Life, Health (stock)',
       'Internet Services and Retailing', 'Industrial Machinery',
       'Food and Drug Stores', 'Trading', 'Specialty Retailers',
       'Aerospace and Defense', 'Energy', 'Food Consumer Products',
       'Computer Software', 'Information Technology Services',
       'Network and Other Communications Equipment',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'Household and Personal Products',
       'Mail, Package, and Freight Delivery',
       'Insurance: Life, Health (Mutual)', 'Metals', 'Chemicals',
       'Food Production',
       'Semiconductors and Other Electronic Components', 'Textiles',
       'Entertainment', 'Airlines', 'Wholesalers: Food and Grocery',
       'Beverages', 'Railroads', 'Health Care: Medical Facilities',
       'Building Materials, Glass', 'Apparel',
       'Construction and Farm Machinery', 'Pipelines', 'Real estate',
       'Shipping', 'Miscellaneous', 'Medical Products and Equipment',
       'Food Services', 'Oil & Gas Equipment Services', 'Tobacco',
       'Wholesalers: Electronics and Office Equipment', 'Temporary Help',
       'Wholesalers: Diversified', 'Travel Services'], dtype=object)

In [36]:
len(ind.unique())

58

In [37]:
#boolean indexing
fortune[0:5]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [39]:
fortune['company'][0:5]

0                     Walmart
1                  State Grid
2               Sinopec Group
3    China National Petroleum
4                Toyota Motor
Name: company, dtype: object

In [40]:
fortune['company'][494:500]

494    Xinjiang Guanghui Industry Investment
495           Teva Pharmaceutical Industries
496                 New China Life Insurance
497                Wm. Morrison Supermarkets
498                                      TUI
499                               AutoNation
Name: company, dtype: object

In [41]:
fortune['company'][5:10]

5            Volkswagen
6     Royal Dutch Shell
7    Berkshire Hathaway
8                 Apple
9           Exxon Mobil
Name: company, dtype: object

In [42]:
fortune['company'][100]

'China South Industries Group'

In [43]:
fortune['company'][49]

'Nippon Telegraph & Telephone'

In [44]:
fortune['company'][49:51]

49    Nippon Telegraph & Telephone
50            China Life Insurance
Name: company, dtype: object

cou = fortune['country']

In [18]:
fortune['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
India             7
Brazil            7
Italy             7
Australia         7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
Indonesia         1
Thailand          1
U.A.E             1
Saudi Arabia      1
Belgium           1
Venezuela         1
Israel            1
Turkey            1
Malaysia          1
Finland           1
Norway            1
Denmark           1
Luxembourg        1
Name: country, dtype: int64

In [6]:
fortune['revenues']

0      485873
1      315199
2      267518
3      262573
4      254694
        ...
495     21903
496     21796
497     21741
498     21655
499     21609
Name: revenues, Length: 500, dtype: int64

In [9]:
rev = fortune['revenues']
rev.mean()

55416.358

In [10]:
#boolen indexing.....
#logical operators...and....list  function.....

#all  the companies rows which  have  earned revenue less the average ...mean..

fortune['revenues']<= fortune['revenues'].mean()

0      False
1      False
2      False
3      False
4      False
       ...
495     True
496     True
497     True
498     True
499     True
Name: revenues, Length: 500, dtype: bool

In [13]:
fortune[fortune['revenues'] <= fortune['revenues'].mean()]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
161,Aviation Industry Corp. of China,162,55306,-8.2,464.2,124892,-47.4,Tan Ruisong,Aerospace and Defense,Aerospace & Defense,143,China,"Beijing, China",http://www.avic.com,9,457097,24345
162,ING Group,163,55282,-16.5,5501.6,888226,0.7,Ralph Hamers,Banks: Commercial and Savings,Financials,117,Netherlands,"Amsterdam, Netherlands",http://www.ing.com,23,51943,49839
163,Mitsubishi UFJ Financial Group,164,55185,15.9,8550.1,2722354,7.9,Nobuyuki Hirano,Banks: Commercial and Savings,Financials,191,Japan,"Tokyo, Japan",http://www.mufg.jp,16,115276,110573
164,Royal Ahold Delhaize,165,54955,29.7,917.9,38257,-2.9,Dick Boer,Food and Drug Stores,Food & Drug Stores,222,Netherlands,"Zaandam, Netherlands",http://www.aholddelhaize.com,23,225000,17165
165,Humana,166,54379,0.2,614.0,25396,-51.9,Bruce D. Broussard,Health Care: Insurance and Managed Care,Health Care,162,USA,"Louisville, KY",http://www.humana.com,19,51600,10685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [14]:
fortune['revenues'].min()

21609

In [15]:
fortune['revenues']==fortune['revenues'].max()

0       True
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: revenues, Length: 500, dtype: bool

In [18]:
fortune[fortune['revenues'] == fortune['revenues'].max()]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [19]:
fortune[fortune['revenues'] == fortune['revenues'].max()]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [20]:
pro = fortune['profits']
pro.mean()

3055.203206412828

In [21]:
fortune[fortune['profits'] > fortune['profits'].mean()]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,AstraZeneca,470,23002,-6.9,3499.0,62526,23.9,Pascal Soriot,Pharmaceuticals,Health Care,435,Britain,"Cambridge, Britain",http://www.astrazeneca.com,19,59700,14854
470,Amgen,471,22991,6.1,7722.0,77626,11.3,Robert A. Bradway,Pharmaceuticals,Health Care,487,USA,"Thousand Oaks, CA",http://www.amgen.com,2,19200,29875
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,0,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128
480,U.S. Bancorp,481,22744,5.8,5888.0,445964,0.2,Andrew J. Cecere,Banks: Commercial and Savings,Financials,490,USA,"Minneapolis, MN",http://www.usbank.com,12,71191,47298
490,National Grid,491,22036,-3.2,10150.6,82310,160.2,John Pettigrew,Utilities,Energy,471,Britain,"London, Britain",http://www.nationalgrid.com,12,22132,25463

In [22]:
#find the top 18 revenues earings companies names ...and revenues
aa = fortune[fortune['revenues'] <= fortune['revenues'].max()]

In [23]:
aa[0:10]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [24]:
fortune[fortune['profits'] >= 19316.5]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438
27,China Construction Bank,28,135093,-8.7,34840.9,3016578,-4.0,Wang Hongzhang,Banks: Commercial and Savings,Financials,22,China,"Beijing, China",http://www.ccb.com,18,362482,226851
37,Agricultural Bank of China,38,117275,-12.1,27687.8,2816039,-3.6,Zhao Huan,Banks: Commercial and Savings,Financials,29,China,"Beijing, China",http://www.abchina.com,18,501368,189682
41,Bank of China,42,113708,-7.1,24773.4,2611539,-8.9,Chen Siqing,Banks: Commercial and Savings,Financials,35,China,"Beijing, China",http://www.boc.cn,23,308900,203134
47,J.P. Morgan Chase,48,105486,4.4,24733.0,2490972,1.2,James Dimon,Banks: Commercial and Savings,Financials,55,USA,"New York, NY",http://www.jpmorganchase.com,23,243355,254190
60,Wells Fargo,61,94176,4.6,21938.0,1930115,-4.2,Timothy J. Sloan,Banks: Commercial and Savings,Financials,67,USA,"San Francisco, CA",http://www.wellsfargo.com,20,269100,199581
64,Alphabet,65,90272,20.4,19478.0,167497,19.1,Larry Page,Internet Services and Retailing,Technology,94,USA,"Mountain View, CA",http://www.abc.xyz,9,72053,139036

In [25]:
fortune['profits'].sort_values

<bound method Series.sort_values of 0      13643.0
1       9571.3
2       1257.9
3       1867.5
4      16899.3
        ...
495      329.0
496      743.9
497      406.4
498     1151.7
499      430.5
Name: profits, Length: 500, dtype: float64>

In [26]:
fortune['profits'].sort_values(ascending = False)

8      45687.0
21     41883.9
27     34840.9
37     27687.8
41     24773.4
        ...
148    -6904.0
230    -9344.4
151   -10256.3
327   -13038.0
456        NaN
Name: profits, Length: 500, dtype: float64

In [28]:
fortune['profits'].sort_values(ascending = False)[0:10]

8     45687.0
21    41883.9
27    34840.9
37    27687.8
41    24773.4
47    24733.0
7     24074.0
60    21938.0
64    19478.0
14    19316.5
Name: profits, dtype: float64

In [29]:
fortune['profits'].describe()

count      499.000000
mean      3055.203206
std       5171.981071
min     -13038.000000
25%        556.950000
50%       1761.600000
75%       3954.000000
max      45687.000000
Name: profits, dtype: float64

In [30]:
print('naveen reddy python videos')

naveen reddy python videos

In [31]:
ass = fortune['assets']

In [33]:
#find the least 10 assests earing companies.....and revenues 
aa = fortune [fortune['assets'] <= fortune['assets']. min()]

In [34]:
aa[0:10]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
294,Rajesh Exports,295,36114,43.1,185.8,3717,13.8,Rajesh J. Mehta,Trading,Wholesalers,423,India,"Bengaluru, India",http://www.rajeshindia.com,2,328,868

In [35]:
fortune['assets'].sort_values()

294       3717
456       4982
401       5413
438       6093
308       6921
        ...
163    2722354
37     2816039
27     3016578
45     3287968
21     3473238
Name: assets, Length: 500, dtype: int64

In [36]:
fortune['assets'].sort_values(ascending = True)

294       3717
456       4982
401       5413
438       6093
308       6921
        ...
163    2722354
37     2816039
27     3016578
45     3287968
21     3473238
Name: assets, Length: 500, dtype: int64

In [37]:
fortune['assets'].sort_values(ascending = True)[0:10]

294    3717
456    4982
401    5413
438    6093
308    6921
486    7426
411    7932
474    8945
402    9292
488    9362
Name: assets, dtype: int64

In [38]:
fortune[fortune['assets'] <= 9362]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
294,Rajesh Exports,295,36114,43.1,185.8,3717,13.8,Rajesh J. Mehta,Trading,Wholesalers,423,India,"Bengaluru, India",http://www.rajeshindia.com,2,328,868
308,Edeka Zentrale,309,34193,6.8,356.0,6921,28.3,Markus Mosa,Wholesalers: Food and Grocery,Wholesalers,321,Germany,"Hamburg, Germany",http://www.edeka-verbund.de,19,351500,1729
401,World Fuel Services,402,27016,-11.1,126.5,5413,-27.5,Michael J. Kasbar,Energy,Energy,346,USA,"Miami, FL",http://www.wfscorp.com,6,5000,1925
402,Phoenix Pharmahandel,403,26976,5.2,135.4,9292,-39.5,Oliver Windholz,Wholesalers: Health Care,Wholesalers,416,Germany,"Mannheim, Germany",http://www.phoenixgroup.eu,7,26611,2732
411,Tech Data,412,26235,-0.5,195.1,7932,-26.6,Robert M. Dutkowsky,Wholesalers: Electronics and Office Equipment,Wholesalers,409,USA,"Clearwater, FL",http://www.techdata.com,19,9500,2170
438,China National Aviation Fuel Group,439,24588,11.3,320.0,6093,-4.3,Zhou Qiang,Wholesalers: Diversified,Wholesalers,484,China,"Beijing, China",http://www.cnaf.com,7,11739,2263
456,Heraeus Holding,457,23793,65.9,NaN,4982,NaN,Jan Rinnert,Metals,Materials,0,Germany,"Hanau, Germany",http://www.heraeus.com,7,12369,3160
474,US Foods Holding,475,22919,-0.9,209.8,8945,25.2,Pietro Satriano,Wholesalers: Food and Grocery,Wholesalers,461,USA,"Rosemont, IL",http://www.usfoods.com,2,25000,2538
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621
488,Sears Holdings,489,22138,-12.0,-2221.0,9362,NaN,Edward S. Lampert,General Merchandisers,Retailing,425,USA,"Hoffman Estates, IL",http://www.searsholdings.com,23,140000,-3824

In [14]:
type(fortune)

pandas.core.frame.DataFrame

In [ ]:
#steps in data science proect....

.........loading the data ...in your  python environment ..
....describe().....descriptive statstics...max,min,mean,sd,count......
....filter out or boolen indexing  to understand our data
....visualize  the data .....charts..plots...

      2dim piot.....
      ...scatterplot...x and y axis...
      ...line  plot...
      ...histogram...
      ...bar plot..
     ....box plot 
        
.....check our statistics... hypothesis testing  ..on our data  ...assumptions..

.....check which model to use for prediction..

.....apply  ml to the data...

.....accuracy of your model.... 
        
    if model is performing well ... retain that model..
       other if accuracy  is bad ... with this model..
       apply another ml model ... checl ... accuracy of that model...

##  visualization ...different types of plots...

In [23]:
#matplotlib.pyplot...

#matlab..research field...
#matplotlib... visualzation.....matplotlib.pyplot...

In [24]:
import matplotlib.pyplot as plt

In [19]:
fortune.head(15)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
10,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
11,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
12,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
13,CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376

In [20]:
fortune.tail(110)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
390,Westpac Banking,391,27704,-10.8,5477.0,642083,-12.7,Brian C. Hartzer,Banks: Commercial and Savings,Financials,336,Australia,"Sydney, Australia",http://www.westpac.com.au,13,35280,44468
391,Coop Group,392,27669,2.8,482.1,18369,11.5,Joos Sutter,Food and Drug Stores,Food & Drug Stores,396,Switzerland,"Basel, Switzerland",http://www.coop.ch,8,73451,8250
392,Facebook,393,27638,54.2,10217.0,64961,177.0,Mark Zuckerberg,Internet Services and Retailing,Technology,0,USA,"Menlo Park, CA",http://www.facebook.com,1,17048,59194
393,Travelers Cos.,394,27625,3.1,3014.0,100245,-12.4,Alan D. Schnitzer,Insurance: Property and Casualty (Stock),Financials,397,USA,"New York, NY",http://www.travelers.com,14,30900,23221
394,Capital One Financial,395,27519,9.6,3751.0,357033,-7.4,Richard D. Fairbank,Banks: Commercial and Savings,Financials,430,USA,"McLean, VA",http://www.capitalone.com,7,47300,47514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [22]:
print(fortune.columns)

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [ ]:
#visualization...